*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,#selectEpisode,
#searchInput{
  /* background-color:#EFFFFD; */
  background-color:#040303;
}

#root {
  position: relative;
  color: black;
  padding:10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 25px;
  grid-template-rows: 1fr;
 
  
}
.mainDiv{
background-color: white;
border: 1px solid rgb(184, 180, 180);
border-radius: 15px;
padding: 10px; 
border-style: none;
box-shadow: 0 20px 20px -15px rgba(252, 251, 253, 0.906)

}

.mainDiv p{
text-align: center;
margin-left: 60px;
margin-right: 90px;
padding-bottom: 5px;
font-size: large;

}

#title{
border: 1px solid black;
border-radius: 8px;
padding:8px 0px;
margin-top: 0;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color:#04293A;
font-weight:200px;
text-align: center;
background-image:linear-gradient(#92A9BD, white) ;
border-style: none

}
.imageEpisode{
display: block;
margin-left: auto;
margin-right: auto;
}
.display{
  display:inline-block;
  margin-left:10px;
  color:white;
}
#selectEpisode,
#searchInput{
  /* padding:10px 0px; */
  margin: 20px;
  font-size: 18px;
  color:#04293A;
  font-weight: bold;
  border-style: none;
  color:white;
  /* box-shadow:3px 5px #7897AB; */
  margin-bottom:20px ;
}


  
